.boxes {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:70px;
    width:660px;
    border:1px solid #ACD8F0;
    overflow-y:auto;
    overflow-x:auto;
  }

.wrap{
	text-align :center;
     
}

.loginhead {
	
	text-align :center;
	
}
.login {

	min-width: 200px;
	width: 30%;
	margin-left: 32%;
	padding-bottom: 95px;
	

}

.login input, .login button, .login select, .login a{
	float: left;
	clear: both;
	margin: 10px;
}

.login input, .login select {
	width: 70%;
	margin-left: 15%;
}

.login button, .login a {
	width: 50%;
	margin-left: 25%;
}

#register_form {
	display: none;
}

/** Smartphone **/
@media (max-width: 320px) {
	.login {
		width: 70%;
		margin-left: 15%;
	}
}
